<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <br />
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/fyrewatyr">Pochacco</a>.
  </p>
  <p>
    Together they taught hundreds of students how to code and build products people want at places like Harvard Business School, Carnegie Mellon, Babson, Rhode Island School of Design, Brown University, Punohou High School and ‘Iolani High School.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'pochacco.jpg', class: 'img-flued' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Pochacco</h2>
      <br />
      <p>
        Pochacco is one of the many fictional characters produced by Sanrio in 1989. He is drawn as a white dog with black floppy ears, but no visible mouth. He is often dressed in athletic attire, as he has a sporty and playful personality. Check out Pochacco and his friends <a target="_blank" href="https://www.sanrio.co.jp/english/characters/">here</a>!
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />